<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="authors" content="">
    <title>Be Well</title>
</head>
<body>

<ul>

    <li><a href="../BeWellAbout.html">About</a></li>
    <li><a href="../index.html">Report</a></li>
    <li><a id="link_results_page" href="../BeWellFrontendResults.html">Flight Data</a></li>
    <li class = "home"><a href="../BeWellHomePage.html">BeWell</a></li>

</ul>

<form action="">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" ><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" ><br><br>
    <label for="date">Date:</label><br>
    <input type="date" id="date" name="date" ><br><br>
    <label for="airline">Airline:</label><br>
    <input type="text" id="airline" name="airline"><br><br>
    Please select your symptoms:<br>
    <input type="checkbox" id="sympt1" name="sympt1" value="Fever">
    <label for="sympt1"> Fever</label><br>
    <input type="checkbox" id="sympt2" name="sympt2" value="Cough">
    <label for="sympt2"> Cough</label><br>
    <input type="checkbox" id="sympt3" name="sympt3" value="Headache">
    <label for="sympt3"> Headache</label><br><br>
    Select a diagnosis:<br>
    <input type="radio" name="choice" value="COVID-19"> COVID-19
    <input type="radio" name="choice" value="Influenza-A"> Influenza-A
    <input type="radio" name="choice" value="Influenza-B"> Influenza-B
    <input type="radio" name="choice" value="Other"> Other <br><br>
</form>

<button id="submitAnswer" onclick="submitAnswer()">Submit</button>

<script>
function submitAnswer() {
	alert('Thank you!');
    document.getElementById("myForm").submit();
}
</script>
<script src='../entry.js' type='text/javascript'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

</body>
</html>