<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="styles/BeWell.css" type="text/css" >
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<title>
BeWell</title>
</head>
<body>

  <ul>
  
    <li><a href="#About">About</a></li>
    <li><a href="index.html">Report</a></li>
    <li><a href="BeWellFrontendResults.html">Flight Data</a></li>
    <li class = "home"><a href="BeWellHomePage.html">BeWell</a></li>
  
  </ul>

<div class="mdl-layout__container has-scrolling-header"><div class="layout mdl-layout mdl-layout--fixed-header mdl-js-layout is-upgraded is-small-screen" data-upgraded=",MaterialLayout">
  <div class="ribbon"></div>
  <main class="main mdl-layout__content">
    <div class="container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <h4> Thank you for your submission! </h4>
        <h6> Here is the current status of Delta (DL1):</h6>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp fullwidth">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric left">Airline</th>
              <th class="left">Flight Number</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric left">Delta</td>
              <td class="left"> DL1</td>
              <td>09/25/2020</td>
              <td>Red</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric left">Delta</td>
              <td>DL1</td>
              <td>09/24/2020</td>
              <td>Red</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Delta</td>
              <td>DL1</td>
              <td>09/23/2020</td>
              <td>Yellow</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Delta</td>
              <td>DL1</td>
              <td>09/22/2020</td>
              <td>Yellow</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Delta</td>
              <td>DL1</td>
              <td>09/21/2020</td>
              <td>Green</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Delta</td>
              <td>DL1</td>
              <td>09/20/2020</td>
              <td>Green</td>
            </tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div></div>
</body>
</html>